[submodule "modules/rmw"]
	path = modules/rmw
	url = https://github.com/ros2/rmw
	branch = foxy
[submodule "modules/rcutils"]
	path = modules/rcutils
	url = https://github.com/ros2/rcutils
	branch = foxy
[submodule "modules/rcl"]
	path = modules/rcl
	url = https://github.com/ros2/rcl
	branch = foxy
[submodule "modules/rosidl"]
	path = modules/rosidl
	url = https://github.com/ros2/rosidl
	branch = foxy
