<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <ROS_DISTRO>rolling</ROS_DISTRO>
      <ROS_LOCALHOST_ONLY>0</ROS_LOCALHOST_ONLY>
      <ROS_PYTHON_VERSION>3</ROS_PYTHON_VERSION>
      <ROS_VERSION>2</ROS_VERSION>
      <LD_LIBRARY_PATH>/opt/ros/rolling/lib/x86_64-linux-gnu:/opt/ros/rolling/lib</LD_LIBRARY_PATH>
      <AMENT_PREFIX_PATH>/opt/ros/rolling</AMENT_PREFIX_PATH>
      <RMW_IMPLEMENTATION>rmw_fastrtps_cpp</RMW_IMPLEMENTATION>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>